body,
html {
  font: 16px/1.4 'Circe', sans-serif;
}

.page {
  max-width: 100%;
  margin-top: 30px;
  padding: 0 10px;
}

@media (max-width: 930px) {
  .page {
      display: none;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 0.7em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 5), 1fr));
  gap: 10px;
}

.card {
  position: relative;
  display: block; 
  color: white;
  background-color: #f8f8f860;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card:hover, .card:visited {
  color: white;
}

.card:hover .cardContent {
  opacity: 1;
}

.card:hover .cardHover {
  opacity: 1;
}

.cardContent, .cardHover  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover .cardImage {
  opacity: 1;
  transform: scale(1.2);
}

.cardContent {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s;
}

.cardHover  {
  z-index: 2;
  background-color: rgba(53, 53, 53, 0.7);
  opacity: 0;
  transition: all 0.3s;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  vertical-align: top;
  transform: scale(1);
  transition: transform 3s;
} 

.cardTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 0.2em;
  color: #daa35b;
}