@import url(/first_try/Styles/main.css);
@import url(/first_try/Styles/catalog.css);
@import url(/first_try/Styles/cart.css);
@import url(/first_try/Styles/about.css);
@import url(/first_try/Styles/contacts.css);
@import url(/first_try/Styles/collections.css);
@import url(/first_try/Styles/collectionTab.css);
@import url(/first_try/Styles/item.css);
@import url(/first_try/Styles/notification.css);
@import url(https://kit.fontawesome.com/36639e23d2.js);

@font-face {
    font-family: 'Georgia';
    src: url(/first_try/font/georgia-2-cufonfonts-webfont/georgia.woff) format("truetype");
}

@font-face{
	font-family: 'Circe';
	src: url(/first_try/font/Circe/Circe-Thin.ttf);
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: 'Circe';
	src: url(/first_try/font/Circe/Circe-ExtraLight.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'Circe';
	src: url(/first_try/font/Circe/Circe-Light.ttf);
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Circe';
	src: url(/first_try/font/Circe/Circe-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Circe';
	src: url(/first_try/font/Circe/Circe-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Circe';
	src: url(/first_try/font/Circe/Circe-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
}