* {
    font-family: 'Gilroy';
}

@font-face{
	font-family: 'Gilroy';
	src: url(/layout1/Gilroy/Gilroy-Thin.ttf);
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: 'Gilroy';
	src: url(/layout1/Gilroy/Gilroy-UltraLight.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'Gilroy';
	src: url(/layout1/Gilroy/Gilroy-Light.ttf);
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Gilroy';
	src: url(/layout1/Gilroy/Gilroy-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Gilroy';
	src: url(/layout1/Gilroy/Gilroy-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
	src: url(/layout1/Gilroy/Gilroy-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
}