@font-face{
	font-family: 'Old Standard TT';
	src: url(../font/OldStandardTT-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face{
	font-family: 'Old Standard TT';
	src: url(../font/OldStandardTT-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Old Standard TT';
	src: url(../font/OldStandardTT-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}