* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: Medium;
}

body {
    background-color: #4036EB;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
    z-index: 999;
    opacity: 0.3;
    background-color: black;
    display: none;
}

.overlay.add-overlay {
    display: block;
}

.flex {
    display: flex;
    flex-direction: row;
}

.header {
    padding: 20px;
}

.header__logo {
    margin-left: 150px;
    height: 100px;
    width: 100px;
}

.container {
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    left: 50px;
    width: calc(99% - 50px);
    /* height: 100%; */
    z-index: -1;
    opacity: 0.3;
}

.container img {
    width: 100%;
    background-size: contain;
}

@media (max-width: 1040px) {
    .container img {
        display: none;
    }
}

.header__registration {
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

@media (max-width: 1040px) {
    .header__registration {
        flex-wrap: wrap;
        gap: 20px;
    }
}

.registration-item__button {
    padding: 10px 17px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: white;
    border-radius: 26px;
    border-color: transparent;
}

.registration-item__button_white {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.header__registration-item:not(:first-child) {
    margin-left: 30px;
}

.header__registration-item:nth-child(4), .header__registration-item:nth-child(5) {
    align-items: center;
}

@media (max-width: 900px) {
    .header__registration-item:not(:nth-child(4)) {
        display: none;
    }
}

.registration-item__burger {
    position: relative;
    width: 24px;
    height: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.registration-item__search{
    background-color: transparent;
    border: none;
}

.burger-bar {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2.5px;
    left: 0;
    top: 0;
}

.burger-bar:nth-child(2) {
    left: 0;
    top: calc(50% - 1px);
}

.burger-bar:last-child {
    left: 0;
    top: auto;
    bottom: 0;
}

.section {
    padding-top: 200px;
}

.section__title {
    color: white;
    font-size: 8rem;
    font-weight: 700;
    margin-left: 150px;
    position: relative;
}

.secion__title__arrow {
    position: absolute;
    bottom: -30px;
    left: 620px;
}

@media (max-width: 840px) {
    .secion__title__arrow {
        display: none;
    }
}

.secion__title__dotted-line {
    position: absolute;
    top: calc(100% + 30px);
    left: 695px;
    width: 45%;
}

@media (max-width: 1300px) {
    .secion__title__dotted-line {
        display: none;
    }
}

.section__about {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 150px;
    color: #FF8181;
}

.section__about-text {
    margin: 60px 0 30px 150px;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    border-radius: 35px;
    width: 35%;
    border-color: transparent;
}

.section__about-text_link {
    color: #FF8181;
}

@media (max-width: 1040px) {
    .section {
        padding-top: 100px;
    }
    .header__logo {
        margin-left: 100px;
    }
    .section__registration-button {
        margin-left: 100px;
    }
    .section__about {
        margin-left: 100px;
    }
    .section__title {
        margin-left: 100px;
    }
    .section__about-text {
        margin-left: 100px;
    }
}

@media (max-width: 700px) {
    .header__logo {
        margin-left: 60px;
    }
    .section__registration-button {
        margin-left: 60px;
        font-size: 1.5rem;
    }
    .section__about {
        margin-left: 60px;
        font-size: 1.5rem;
    }
    .section__title {
        margin-left: 60px;
        font-size: 100px;
    }
    .section__about-text {
        margin-left: 60px;
        font-size: 1.5rem;
        width: 90%;
    }
}

@media (max-width: 500px) {
    .header__logo {
        margin-left: 30px;
    }
    .section__registration-button {
        margin-left: 30px;
        font-size: 1.5rem;
    }
    .section__about {
        margin-left: 30px;
        font-size: 1.3rem;
    }
    .section__title {
        margin-left: 30px;
        font-size: 60px;
    }
    .section__about-text {
        margin-left: 30px;
        font-size: 1.4rem;
        width: 90%;
    }
}

.section__choosе-list {
    width: 50%;
    margin: 0 0 30px 150px;
    border: 5px solid #f19d9a;
    border-radius: 15px;
    background-color: white;
}

.choose-list__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'icon title'
        'icon text';
    width: calc(100% / 3);
    padding: 15px 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.choose-list__item:not(:last-child) {
    border-right: 5px solid #f19d9a;
}

.choose-list__item_icon {
    grid-area: icon;
    align-items: center;
    justify-self: center;
}

.choose-list__item_title {
    grid-area: title;
    color: #4036EB;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 19.5px;
}

.choose-list__item_text {
    grid-area: text;
    color: #C4C4C4;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 19.5px;
}

.choose-list__item_icon img {
    width: 30px;
}

@media (max-width: 1490px) {
    .choose-list__item_text {
        font-size: 1rem;
    }
}

@media (max-width: 1300px) {
    .choose-list__item {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        grid-template-areas: 
        'title'
        'icon'
        'text';
        text-align: center;
        row-gap: 6px;
    }
}

@media (max-width: 700px) {
    .section__choosе-list {
        flex-direction: column;
    }
    .choose-list__item {
        width: 100%;
        font-size: 1rem;
        padding: 20px 0;
    }
    .choose-list__item:not(:last-child) {
        border: none;
        border-bottom: 5px solid #f19d9a;
    }
}

@media (max-width: 486px) {
    .section__choosе-list {
        margin: 0 auto 30px auto;
    }
}

.check-price-container__button {
    padding: 20px 50px;
    margin-left: 150px;
    font-size: 1.7rem;
    font-weight: 400;
    background-color: #f19d9a;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border-color: transparent;
}

@media (max-width: 800px) {
    .check-price-container__button {
        margin-left: calc(50% - 159px);
    }
}

.footer {
    flex-direction: column;
    align-items: center;
}

.footer__dotted-line {
    width: 31%;
    margin: 130px 0 0 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2.5px dotted #ddd;
}

.footer__socials-container {
    justify-content: center;
    gap: 100px;
    padding: 40px 0;
}

.footer__socials-container__button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.footer__socials-container__button:nth-child(2) {
    padding: 3px;
}

.footer__socials-container__button__svg {
    width: 100%;
    height: 100%;
}